# Files that git should ignore in any directory:
*.pyc
*.pyo
val-tags

# Ignores in the project root:
/cvs2git-tmp
/cvs2hg-tmp
/cvs2svn-tmp
/*.tar.gz
/svntest
/.idea

# Ignores in www/:
/www/tigris-branding
/www/xhtml1-20020801
/www/xhtml1.catalog
/www/xhtml1.tgz

