include *.py cvs2svn.1 dist.sh MANIFEST.in Makefile
include README BUGS COMMITTERS COPYING HACKING design-notes.txt CHANGES
include cvs2svn-example.options
recursive-include svntest *
recursive-include test-data *
recursive-include www *
recursive-include contrib *.py
prune www/tigris-branding
prune www/xhtml1-20020801
prune www/xhtml1.catalog
prune www/xhtml1.tgz
